
*.pyc
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3_.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__0.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__1.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__10.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__11.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__12.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__13.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__14.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__15.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__16.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__17.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__18.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__19.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__2.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__3.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__4.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__5.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__6.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__7.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__8.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__9.studat
_S1__Dirks__M_Int_Math_Top_1_S1_3_/_S1__Dirks__M_Int_Math_Top_1_S1_3__lts.ltdat
test_prefs.txt
test_prefs.txt
classperiod_module.py
sample_classperiod/2019-11-29_sample_classperiod_sid1_Frank_Aerik_grade_report.txt
sample_classperiod/2019-11-29_sample_classperiod_sid2_Livingston_Bob_grade_report.txt
sample_classperiod/2019-11-29_sample_classperiod_sid3_Hilders_Catherine_grade_report.txt
sample_classperiod/2019-11-29_sample_classperiod_sid4_Adams_Dilbert_grade_report.txt
sample_classperiod/2019-11-29_sample_classperiod_sid5_Wheatley_Egbert_grade_report.txt
sample_classperiod/2019-11-29_sample_classperiod_sid6_Spelt_Farina_grade_report.txt
sample_classperiod/2019-11-29_sample_classperiod_sid7_Mesopo_Gilgamesh_grade_report.txt
sample_classperiod/2019-11-29_sample_classperiod_sid8_Harrison_William_grade_report.txt
sample_classperiod/2019-11-29_sample_classperiod_sid9_Whittier_Ivan_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid9_Lang_Hailey_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid8_Lambert_Sophie_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid7_Krishnan_Anand_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid6_Karanam_Ashvath_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid5_Kang_CJ_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid4_Jones_Kaiya_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid3_Jemal_Aliya_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid2_Huynh_Minh_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid20_Yunger_Joshua_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid1_Chang_Jason_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid19_Sutton_Alexandre_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid18_Ren_Sarah_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid17_Parakh_Natasha_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid16_Ouedraogo_Sahori_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid15_Oppermann Buzzo_Luiza_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid14_Novotny_Jackson_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid13_Notton_Lexi_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid12_Mi_Xiao_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid11_Maltseva_Irina_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid10_Leffler_Graham_grade_report.txt
_S1__Dirks__M_Int_Math_Top_1_S1_3_/2019-11-29__S1__Dirks__M_Int_Math_Top_1_S1_3__sid0_Brown_Dean_grade_report.txt
